.Bank {
}

.input-section {
  text-align: left;
  background-color: #F0EFE4;
  padding-bottom: 1px;
}

.accounts {
  color: white;
  text-align: left;
}

.bankin-header {
  font-size: 4em;
  color: #216C2A;
}

.income-after-bills {
}

.header {
  text-align: left; 
  padding: 20px !important;
}
