.ParentAccount {
}

.collapsed {
  animation-name: collapse;
  animation-duration: .2s;
} 

@keyframes collapse {
  from {
          transform: translateY(100%);
  }

  to {
          transform: translateY(0%);
  }
}

.expanded {
  animation-name: expand;
  animation-duration: .2s;
}

@keyframes expand {
  from {
          transform: translateY(0%);
  }

  to {
          transform: translateY(100%);
  }
}

Button {
  margin: 0 5px 0 5px;
}
